body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Helvetica", "arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(50, 1%, 50%);
  scale: 0.75;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 10%);
  padding: 20px 10px;
  gap: 20px;
  border-radius: 12px;
}
#first-row,
#second-row,
#third-row,
#fourth-row,
#fifth-row {
  display: flex;
}

button {
  border-radius: 50%;
  color: white;
  border-style: none;
  height: 120px;
  width: 120px;
  font-size: 50px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.clear {
  background-color: hsl(60, 2%, 60%);
  color: black;
  flex-grow: 1;
  border-radius: 5rem;
}
.clear:hover {
  background-color: hsl(60, 2%, 70%);
}
.clear:active {
  background-color: hsl(60, 2%, 90%);
}

.operator {
  background-color: hsl(35, 100%, 50%);
}
.operator:hover {
  background-color: hsl(35, 100%, 60%);
}
.operator:focus {
  background-color: hsl(35, 100%, 70%);
}

.numbers,
.backspace,
#equals {
  background-color: hsl(0, 0%, 31%);
}
.numbers:hover,
.backspace:hover,
#equals:hover {
  background-color: hsl(0, 0%, 41%);
}
.numbers:active,
.backspace:active,
#equals:active {
  background-color: hsl(0, 0%, 51%);
}

#zero {
  text-align: left;
  padding-left: 50px;
  flex-grow: 1;
  border-radius: 5rem;
}

#display {
  margin: 0 10px 0px;
  padding: 20px;
  font-size: 40px;
  color: white;
  height: 100px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
