body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505050;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 10%);
  padding: 20px 10px;
  gap: 20px;
  border-radius: 12px;
}

button {
  border-radius: 50%;
  color: white;
  border-style: none;
  height: 120px;
  width: 120px;
  font-size: 50px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.light-grey {
  background-color: hsl(60, 2%, 73%);
  color: black;
  flex-grow: 1;
  border-radius: 5rem;
}
.light-grey:hover {
  background-color: hsl(60, 2%, 83%);
}
.light-grey:active {
  background-color: hsl(60, 2%, 100%);
}

.operator {
  background-color: hsl(35, 100%, 50%);
}
.operator:hover {
  background-color: hsl(35, 100%, 60%);
}
.operator:active {
  background-color: hsl(35, 100%, 70%);
}

.dark-liver {
  background-color: hsl(0, 0%, 31%);
}
.dark-liver:hover {
  background-color: hsl(0, 0%, 41%);
}
.dark-liver:active {
  background-color: hsl(0, 0%, 51%);
}

#first-row,
#second-row,
#third-row,
#fourth-row,
#fifth-row {
  display: flex;
}

#zero {
  text-align: left;
  padding-left: 50px;
  flex-grow: 1;
  border-radius: 5rem;
}

#display {
  margin: 0 10px 0px;
  color: white;
  height: 200px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 12px;
}
